/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {  
  color: #4d4d4d; 
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position:absolute;
  top:0px;
  left:0px;  
  overflow:auto;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

.table{
  font-size:small;  
    overflow: auto;
    display: block;
    table-layout: auto;
    width:50vw;
    max-height:45vh;
    
}

th {
  position: sticky;
  top: 0;
  background-color: white;
  }

  .card {
    padding : 1%;
  }

  .btn {
    margin:.25em;
  }

  .container, .container-fluid {
    margin-top: .5em;
  }

  .jumbotron-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }